Repository cdrage/ocdev, changes with the owners that CODEOWNERS names for each.
All owners: @cdrage, @sspeiche, @geoand, @metacosm, @anmolbabu, @girishramnani, @kadel, @amitkrout, @mohammedzee1000, @syamgk, @surajnarwade, @mik-dass

Implement new odo workflow for: odo watch
  pkg/odo/cli/component/push.go
  pkg/odo/cli/component/watch.go
  pkg/odo/cli/utils/utils.go
  pkg/util/util.go
Owners: @anmolbabu, @geoand, @metacosm, @surajnarwade

adoc
  README.adoc
  README.md
Owners: @cdrage, @sspeiche

init
  pkg/component/component.go
Owners: @anmolbabu, @mohammedzee1000

init
  pkg/util/util.go
Owners: @anmolbabu, @surajnarwade

Run app command test in parallel (#1804)
  .travis.yml
  Makefile
  docs/development.adoc
  scripts/openshiftci-presubmit-e2e.sh
  tests/integration/cmd_app_test.go
  tests/integration/json_test.go
Owners: @kadel, @cdrage, @amitkrout, @syamgk, @mohammedzee1000

init
  pkg/odo/cli/component/create.go
Owners: @anmolbabu, @geoand, @metacosm

init
  pkg/log/status.go
Owners: @girishramnani, @cdrage

init
  docs/machine-output.adoc
Owners: none

init
  docs/service-catalog.adoc
Owners: none

init
  pkg/config/config.go
  pkg/occlient/occlient.go
  pkg/odo/cli/config/view.go
Owners: @syamgk, @mohammedzee1000, @kadel, @metacosm, @geoand, @cdrage, @anmolbabu

init
  pkg/log/status.go
  pkg/occlient/occlient.go
Owners: @girishramnani, @cdrage, @kadel, @metacosm, @geoand

Adding json output to component create
  pkg/odo/cli/component/create.go
  tests/integration/component.go
Owners: @anmolbabu, @geoand, @metacosm, @amitkrout, @mohammedzee1000

rsh implementation
  glide.yaml
  pkg/odo/cli/debug/rsh.go
Owners: @anmolbabu, @geoand, @metacosm

init
  pkg/odo/cli/component/common_push.go
  pkg/odo/cli/component/create.go
  pkg/odo/cli/component/push.go
  pkg/odo/cli/component/update.go
Owners: @anmolbabu, @geoand, @metacosm

init
  pkg/odo/cli/config/view.go
Owners: @anmolbabu, @geoand, @metacosm

Remove leftover documentation
  chosen-docs/upstream/deploying-a-devfile-using-odo.md
Owners: @cdrage, @sspeiche

Updated fix for redeploy bug
  pkg/devfile/adapters/common/types.go
  pkg/devfile/adapters/common/utils.go
  pkg/devfile/adapters/kubernetes/component/adapter.go
  pkg/kclient/volumes.go
  pkg/kclient/volumes_test.go
Owners: none

Make Devfile the default deployment mechanism for odo
  pkg/component/component.go
  pkg/component/component_full_description.go
  pkg/devfile/adapters/kubernetes/component/adapter.go
  pkg/devfile/validate/components_test.go
  pkg/occlient/occlient.go
  pkg/odo/cli/cli.go
  pkg/odo/cli/component/common_link.go
  pkg/odo/cli/component/common_push.go
  pkg/odo/cli/component/component.go
  pkg/odo/cli/component/create.go
  pkg/odo/cli/component/delete.go
  pkg/odo/cli/component/devfile.go
  pkg/odo/cli/component/exec.go
  pkg/odo/cli/component/link.go
  pkg/odo/cli/component/list.go
  pkg/odo/cli/component/log.go
  pkg/odo/cli/component/push.go
  pkg/odo/cli/component/update.go
  pkg/odo/cli/component/watch.go
  pkg/odo/cli/debug/info.go
  pkg/odo/cli/debug/portforward.go
  pkg/odo/cli/service/create.go
  pkg/odo/cli/service/delete.go
  pkg/odo/cli/service/list.go
  pkg/odo/cli/url/create.go
  pkg/odo/cli/url/delete.go
  pkg/odo/cli/url/describe.go
  pkg/odo/cli/url/list.go
  pkg/odo/util/cmdutils.go
  pkg/url/url.go
  pkg/url/url_test.go
  pkg/version/version.go
Owners: @anmolbabu, @mohammedzee1000, @kadel, @metacosm, @geoand, @cdrage, @mik-dass

Split all tests into separate running tasks on TravisCI
  .travis.yml
Owners: none

Change version to v2.0.0-beta-1
  build/VERSION
  pkg/version/version.go
Owners: none

CODEOWNERS:

# This is a file that will automatically ping select "owners"
# of directories or files within the Odo repository

# List of current maintainers / assigned code owners
# @syamgk 
# @anmolbabu 
# @kadel 
# @surajnarwade 
# @girishramnani 
# @metacosm
# @geoand 
# @mik-dass 
# @amitkrout 
# @mohammedzee1000 
# @sspeiche 
# @cdrage

# Language specific
*.md @cdrage @sspeiche
*.java @geoand @metacosm
*.xml @geoand @metacosm
*.py @anmolbabu
*.js @girishramnani @geoand

# Folder / file specific
Makefile @kadel @cdrage @amitkrout
/tests/ @amitkrout @mohammedzee1000
/scripts/ @syamgk @kadel @cdrage @amitkrout
/cmd/ @metacosm

# Odo specific
/pkg/application/ @syamgk  @cdrage
/pkg/auth/ @anmolbabu @girishramnani 
/pkg/catalog/ @surajnarwade @girishramnani @metacosm @geoand 
/pkg/component/ @anmolbabu  @mohammedzee1000 
/pkg/config/ @syamgk  @mohammedzee1000 
/pkg/log/ @girishramnani  @cdrage
/pkg/notify/ @girishramnani  @cdrage
/pkg/occlient/ @kadel @metacosm @geoand @cdrage
/pkg/odo/ @anmolbabu @geoand @metacosm
/pkg/project/ @mik-dass  @mohammedzee1000 
/pkg/secret/ @girishramnani @geoand
/pkg/service/ @surajnarwade @geoand
/pkg/storage/ @girishramnani @mik-dass 
/pkg/testingutil/  @amitkrout  @mohammedzee1000 
/pkg/url/  @mik-dass  @mohammedzee1000 
/pkg/util/ @anmolbabu @surajnarwade
